img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

p {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}
body {
    font-family: 'Microsoft YaHei', 'PingFang SC', sans-serif;
    font-size: 16px;
    line-height: 1;
    /* color: #4F602B;
    /* background-color: #F5FDEB; */
}
